-
	var menus = [
		{text: 'Главная', link: '/'},
		{text: 'Блог', link: '/blog-sidebar'},
		{text: 'Админка', submenu: [
			{text: 'Добавить статью в блог', link: '/addpost-sidebar'}, 
			{text: 'Добавить картинку', link: '/upload'}] },
		{text: 'Статья', submenu: [
			{text: 'Статья 1', link: 'single-article-1'},
			{text: 'Статья 2', link: 'single-article-2'}] },
		{text: 'Контакты', link: '/contact'}];

-
	var links = {
		"Главная" : "/",
		"Блог" : "/blog-sidebar",
		"Добавить картинку" : "/blog-sidebar",
		"Добавить статью в блог" : "/addpost-sidebar",
		"Отправить письмо" : "/contact"
	};