-
	var menus = [
		{text: 'Главная', link: '/'},
		{text: 'Блог', link: '/blog-sidebar'},
		{text: 'Админка', submenu: [
			{text: 'Добавить статью в блог', link: '/addpost-sidebar'}, 
			{text: 'Добавить картинку', link: '/upload'}] },
		{text: 'Сайдбар', submenu: [
			{text: 'Блог сайбар', link: ''},
			{text: 'Добавить статью', link: '/page-sidebar'}] },
		{text: 'Контакты', link: '/contact'}];

-
	var links = {
		"Главная" : "/",
		"Блог" : "/blog",
		"Добавить картинку" : "/upload",
		"Добавить статью в блог" : "//addpost",
		"Отправить письмо" : "/contact"
	};