-
	var menus = [
		{text: 'Главная', link: '/'},
		{text: 'Блог', link: '/blog'},
		{text: 'Админка', submenu: [
			{text: 'Добавить статью в блог', link: '/addpost'}, 
			{text: 'Добавить картинку', link: '/upload'}] },	
		{text: 'Контакты', link: '/contact'}];

-
	var links = {
		"Главная" : "/",
		"Блог" : "/blog",
		"Добавить картинку" : "/upload",
		"Добавить статью в блог" : "//addpost",
		"Отправить письмо" : "/contact"
	};