-
	var menus = [
		{text: 'Главная', link: '/'},
		{text: 'Блог', link: '/blog-sidebar'},
		{text: 'Админка', submenu: [
			{text: 'Добавить статью в блог', link: '/addpost-sidebar'}, 
			{text: 'Добавить картинку в галлерею', link: '/upload'}] },
		{text: 'Галлерея', link: '/gallery'},
		{text: 'Контакты', link: '/contact'}];

-
	var links = {
		"Главная" : "/",
		"Блог" : "/blog-sidebar",
		"Добавить картинку" : "/upload",
		"Добавить статью в блог" : "/addpost-sidebar",
		"Галлерея" : "/gallery",
		"Отправить письмо" : "/contact"
	};