.blog__textfield{
	display: none;
	width: 100%;
	height: 100%;
}
.blog__img{
	max-height: 350px;
	display: block;
	height: 100%;
	width: auto;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
}
.editing .blog__textfield {
    display: block;
}
.editing .blog__article{
    display: none;
}