.form__input{
	display: block;
	border: none;
	border-radius: none;
	border: 1px solid #03a87c;
	width: 30%;
	padding: 15px 5px;
	margin-bottom: 25px;
}
.form__subtitle{
	margin: 25px 0;
}
.form__input:focus, .form__textarea:focus {
	border-color: #c6d6d1;
	box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.form__textarea {
	width: 100%;
	resize: vertical;
	min-height: 500px;
	border: none;
	border: 1px solid #03a87c;
	padding: 15px 5px;
	margin-bottom: 25px;

}
.form__btns{
	margin-bottom: 25px;
}

.article__list{
	margin: 0;
	padding: 0;
}
.article__item{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
}
.article__title{
	font-family: 'PFAgoraSansPro-Regular';
  	font-size: 20px;
  	margin-bottom: 15px;
  &:after{
    content: "";
    display: block;
    width: 55px;
    height: 2px;
    text-align: center;
    background: #03a87c;
    margin: 10px 0 0 0;

  }
}