html{
	height: 100%;
	width: 100%;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'RobotoCondensed-Regular', sans-serif, Arial;
	font-size: 16px;
}
*{
	 box-sizing: border-box;
}
button, input, textarea{
  border-radius: 0;
}
.container{
	max-width: 1170px;
	width: 100%;
	height: 100%;
	margin: 0 auto;

}
/* start прижать футер */
.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content{
	flex: 1 0 auto;
}
.footer{
	flex: 0 0 auto;
}
/* end прижать футер */
@mixin clearfix{
  &:after, &:before{ 
    display: block;
    content: "";
    }
  &:after{
      clear: both;
     }
}
.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 100px;
  box-sizing: border-box;
}

.lightbox img {
  display: block;
  margin: auto;
  width: 500px;

}

.lightbox .caption {
  margin: 15px auto;
  width: 50%;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  color: #eee;
}
.title{
  font-family: 'PFAgoraSansPro-Regular';
  font-size: 30px;
  &:after{
    content: "";
    display: block;
    width: 55px;
    height: 2px;
    text-align: center;
    background: #03a87c;
    margin: 10px 0 0 0;

  }
}
.subtitle{
  font-family: 'PFAgoraSansPro-Regular';
  font-size: 25px;
  color: #03a87c;
}
.btn{
  text-decoration: none;
  font-family: 'RobotoCondensed-Light';
  color: #000;
  color: #03a87c;
  border: 1px solid #03a87c;
  padding: 7px 12px;
  background: transparent;
  border-radius: none;
  cursor: pointer;
  &:hover{
      background: #03a87c;
    color: #fff;
    }
}
.btn--margin-right{
  margin-right: 10px;
}
.breadcrumbs__list{
  margin: 0;
  padding: 0;
}
.breadcrumbs__item{
  list-style-type: none;
  padding: 15px 0 15px 15px;
  margin: 0;
  display: inline-block;
}
.breadcrumbs__link{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  &:before {
    content: "-";
    display: inline-block;
    margin-right: 15px;
    color: #fff;
    vertical-align: middle;
  }
}
.breadcrumbs__item:first-child .breadcrumbs__link:before{
  display: none;
  }
.breadcrumbs{
  background: #03a87c;
}
.pagination__list{
  margin: 0;
  padding: 0;
  text-align: center;
}
.pagination__item{
  list-style-type: none;
  padding: 15px 0 15px 15px;
  margin: 0;
  display: inline-block;

}
.pagination__link{
  text-decoration: none;
  font-size: 12px;
  font-family: "Roboto-Medium";
  padding: 10px;
  color: #000;
}

.pagination__link-active {
    color: #03a87c;
    font-weight: bold;
}