.form__input{
	display: block;
	border: none;
	border-radius: none;
	border: 1px solid #03a87c;
	width: 30%;
	padding: 15px 5px;
	margin-bottom: 25px;
}

.form__input:focus, .form__textarea:focus {
	border-color: #c6d6d1;
	box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.form__textarea {
	width: 100%;
	resize: vertical;
	min-height: 500px;
	border: none;
	border: 1px solid #03a87c;
	padding: 15px 5px;
	margin-bottom: 25px;
}
.status{
	font-family: 'PFAgoraSansPro-Regular';
 	font-size: 30px;
 	padding: 10px 0;

}
/* .form{
	margin-bottom: 25px;
}
 */.form__label{
	font-family: 'RobotoCondensed-Light';
}