.gallery__list{
	display: flex;
	align-items: center;
	margin: 20px 0 25px 0;
	padding: 0;
	flex-wrap: wrap;
}
.gallery__item{
	width: calc(100%/4);
	padding: 10px;
	list-style-type: none;
	position: relative;
}
.gallery__img{
	max-width: 100%;
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
}

