.header__top{
	display: flex;
	align-items: center;
	position: relative;
	padding: 10px 0;
}
.header__mobil{
	flex: 0 1 auto;
	display: none;
	width: 40px;
  	height: 37px;
  	cursor: pointer;
  	margin: 0 0 0 20px;
}
.search{
	flex: 0 0 auto;
}
.search__form{
	display: flex;
	position: relative;
}
.search__icon{
	display: block;
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	margin-top: -11px;
	position: absolute;
	top: 50%;
	outline: 0;
	cursor: pointer;
}
.search__svg{
	width: 35px;
	border-radius: none;
	height: 22px;
	display: block;
	fill: #6e6e6e;

}
.search__field{
	border: none;
	border: 1px solid #eee;
	padding: 8px 35px 8px 10px;
}
.logo{
	flex: 1 0 auto;
	text-align: left;
}
.login{
	
}
.logo__link{
	display: inline-block;
	text-decoration: none;
}
.logo__svg {
	width: 50px;
	height: 50px;
	fill: rgba(0,0,0,.76);
	vertical-align: middle;
	display: inline-block;
}
.logo__title{
	vertical-align: middle;
	display: inline-block;
	font-size: 40px;
	font-family: 'PFAgoraSansPro-Regular';
	color: rgba(0,0,0,.76);
	text-transform: uppercase;
}
.login__link{
	text-decoration: none;
	font-family:  'RobotoCondensed-Light';
	color: #000;
	color: #03a87c;
	border: 1px solid #03a87c;
	padding: 7px 12px;
	&:hover{
		background: #03a87c;
		color: #fff;
	}
}
.header__indents-login{
	margin-left: 15px;
}
/* start main menu */
.header__menu{
	margin-bottom: 25px;
}
.menu{
	border-top: 1px solid #03a87c;
	border-bottom: 1px solid #03a87c;
	
}
.menu__list{
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;

}
.menu__item{
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: relative;
	width: 100%;
	border-right: 1px solid #03a87c;
	&:last-child{
		border-right: none;
	}
}
span.menu__link{
	cursor: pointer;
}
.menu__link{
	text-decoration: none;
	color: rgba(0,0,0,.76);
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px 0;
	display: inline-block;
	text-align: center;
	width: 100%;
	
	&:hover{
		color: #03a87c;
	}
	
}
/* end main menu */

/* start submenu */
.submenu__list{
	padding: 0;
	margin: 0;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 30;
	border-top: 1px solid #03a87c;
	width: 100%;
}
.submenu__item{
	padding: 0;
	margin: 0;
	list-style-type: none;
	width: 100%;
}
.submenu__link{
	text-decoration: none;
	color: rgba(0,0,0,.76);
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	display: block;
	border-bottom: 1px solid #03a87c;
	background: #fff;
	width: 100%;
	&:hover{
		color: #fff;
		background: #03a87c;
	}
}
.menu__item:hover .submenu__list{
	display: block;
}
/* end submenu */

/* start mobil nav */
.mobil-nav__wrapper{
  display: none;
  z-index: 1000;
}
.one, .two, .three {
  width: 100%;
  height: 5px;
  background: #62acef;
  margin: 6px auto;
  backface-visibility: hidden;
  transition: all .3s ease;
}
.two{
  transition: all .01s ease;
}
.on .one {
  transform: rotate(45deg) translate(7px, 7px);
}
.on .two{
  opacity: 0;
}
.on .three{
  transform: rotate(-45deg) translate(8px, -10px);
}
.mobil-nav--nodisplay{
  display: none;
}
.mobil-nav{
  width: 100%;
  z-index:10;
}
.mobil-nav__list{
  text-align: center;
  background: #3481c6;
  margin: 0;
  padding: 0;
    }
.mobil-nav__item{
  padding: 10px 0;
  border-bottom: 1px solid #fff;
  list-style-type: none;
  position: relative;
  &:hover{
    background: #62acef;
  }
}
.mobil-nav__link{
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
}

/* end modil nav */
.fixed{
	position: fixed;
	width: 100%;
	top:0;
	left: 0;
	z-index: 10;
	background: rgba(255,255,255, 0.8);
	box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
