/* start slider */
/* .slider{
	position: relative;
	width: 1170px;
}
.slider__wrapper{
	height: 450px;
	width: 1100px;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
}
.slide__img{
	min-width: 100%;
	min-height: 100%;
	display: block;
	margin: 0;
	padding: 0;
}
.slider__item{
	float: left;
}
.slider__list{
	@include clearfix;
	width: 5000px;
	position: relative;
	left: 0;
	transition: .75s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

*/
.slider{
	position: relative;
	width: 100%;
	text-align: center;
	overflow: hidden;
	display: inline-block;
}
.slider__list{
	position: relative;
	width: 100%;
	}
.slider__item{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
}
.slider__img{
	width: 100%;
	display: block;
}
.slider__item--active{
	z-index: 1;
	position: relative;
}
.slider__item--inslide{
	z-index: 2;
}
.slider__svg{
	fill: #fff;
	width: 50px;
	height: 100px;

}
.slider__arrow{
	position: absolute;
	top: 0;
	z-index: 20;
	top: 50%;
	margin-top: -50px;

}
.slider__arrow--left{
	right: 95%;
}
.slider__arrow--right{
	left: 95%;
} 
/* end slider */