/* start slider */
.slider{
	position: relative;
	width: 100%;
	text-align: center;
	overflow: hidden;
	display: inline-block;
}
.slider__list{
	position: relative;
	width: 100%;
	}
.slider__item{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
}
.slider__img{
	width: 100%;
	display: block;
}
.slider__item--active{
	z-index: 1;
	position: relative;
}
.slider__item--inslide{
	z-index: 2;
}
.slider__svg{
	fill: #fff;
	width: 50px;
	height: 100px;

}
.slider__arrow{
	position: absolute;
	top: 0;
	z-index: 20;
	top: 50%;
	margin-top: -50px;

}
.slider__arrow--left{
	right: 95%;
}
.slider__arrow--right{
	left: 95%;
}
.slider__descr{
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'PFAgoraSansPro-Medium';
	display: block;
	padding: 10px;
	background: rgba(0,0,0,0.7);
}
/* end slider */
.articles__indents-title{
	margin: 25px 0;
}
