footer.footer
	.container
		.footer__content
			.footer-links.footer__menu
					ul.footer-links__list
						each href, title in links
							li.footer-links__item
								a(href=`${href}`).footer-links__link= title

			.socials.footer__socials
				ul.socials__list
					-
						items = [
							['fb', "#"],
							['instagram', "#"],
							['twiter', "#"]
						]
					each item in items
							li.socials__item
								a(href=item[1]).socials__link=item[0]