footer.footer
	.container
		.footer__content
			.footer-links.footer__menu
					ul.footer-links__list
						each href, title in links
							li.footer-links__item
								a(href=`${href}`).footer-links__link= title

			.socials.footer__socials
				ul.socials__list
					li.socials__item
						a(href="#").socials__link
							svg.socials__svg
								use(xlink:href='/assets/img/sprite.svg#facebook-logo-button')
					li.socials__item
						a(href="#").socials__link
							svg.socials__svg
								use(xlink:href='/assets/img/sprite.svg#social-instagram-circle')
					li.socials__item
						a(href="#").socials__link
							svg.socials__svg
								use(xlink:href='/assets/img/sprite.svg#twitter')