header.header
	.container
		.header__top
			.logo
				a(href="#").logo__link
					svg.logo__svg
						use(xlink:href='/assets/img/sprite.svg#telescope')
					span.logo__title SpaceUmi

			.search
				form.search__form
					input(type="text").search__field
					button(type="submit").search__icon
						svg.search__svg
							use(xlink:href='/assets/img/sprite.svg#magnifier')
			.login.header__indents-login
				a(href="#").login__link Вход
			.header__mobil 
				.one
				.two
				.three
		.header__menu
			include ../common/_menu
			.mobil-nav__wrapper
						nav.mobil-nav#mobil-nav.mobil-nav--nodisplay
							include ../common/_submenu
								