extends ../_template
block content
	.wrapper
		.content
			include ../common/_header
			section.uploadblog
				.container
					form.form#uploadblog(action='/addpost-sidebar' method="POST" enctype="multipart/form-data")
						h1.form__title.title Напишите статью
						label.form__label(for="file-select") Введите описание картинки:
						input(name="photo" type="file" required accept="image/*").form__input#file-select

						label.form__label(for="file-title") Введите заголовок записи:
						input(name="title" type="text" placeholder="Заголовок").form__input#file-title

						label.form__label(for="file-date") Введите дату в любом формате:
						input(name="date" type="text" placeholder="Дата").form__input#file-date

						label.form__label(for="file-desc") Напишите статью:
						textarea(name="name").form__textarea#file-desc
						
						button(type="submit").form__btn-send.btn Отправить
						button(type="reset").form__btn-reset.btn Очистить
						.status
					
		include ../common/_footer