extends ../_template
block content
	.wrapper
		.content
			include ../common/_header
			section.section
				.container
					ul.article__list
						each index in items
							li.article__item
								.article__title= index.title
								.article__data= index.data
								.article__text= index.body
