extends ../_template
block content
	.wrapper
		.content
			include ../common/_header
			section.edit-blog
				.container
					form.form(method="POST" enctype="multipart/form-data" action='/blog-sidebar/edit/'+article._id)
						h1.form__title.title Откорректируйте статью
						label.form__label(for="file-title") Откорректируйте заголовок записи:
						input(name="title" type="text" placeholder="Заголовок" value=article.title).form__input#file-title
						label.form__label(for="file-date") Откорректируйте дату в любом формате:
						input(name="date" type="text" placeholder="Дата" value=article.date).form__input#file-date
						label.form__label(for="file-desc") Откорректируйте статью:
						textarea(name="name" ).form__textarea#file-desc=article.name
						button(type="submit" ).btn Сохранитья

					
		include ../common/_footer