extends ../_template
block content
	.wrapper
		.content
			include ../common/_header
			section.section
				.container
					.slider
						.slider__wrapper
							.slider__list
								.slider__item.slider__item--active
									img(src="assets/img/slider/slide-1.jpg" alt="pic").slider__img
								.slider__item
									img(src="assets/img/slider/slide-2.jpg" alt="pic").slider__img
								.slider__item
									img(src="assets/img/slider/slide-3.jpg" alt="pic").slider__img
								.slider__item
									img(src="assets/img/slider/slide-4.jpg" alt="pic").slider__img
						.slider__nav
							a(href="#").slider__arrow.slider__arrow--left
								svg.slider__svg
									use(xlink:href='/assets/img/sprite.svg#back')
							a(href="#").slider__arrow.slider__arrow--right
								svg.slider__svg
									use(xlink:href='/assets/img/sprite.svg#next') 
			section.section
				.container
					.articles
						.title.articles__indents-title Последние статьи
						.articles__wrapper
							each index in articles
										a(href='/blog-sidebar/'+index._id).articles__item
											.articles__picture
												img(src=`${index.picture}` alt="pic").articles__img
											.articles__info
												.articles__title= index.title
												.articles__descr= index.name
												.articles__date= index.date
						
					


		include ../common/_footer