extends ../_template
block content
	.wrapper
		.content
			include ../common/_header
			section.past
				.container
					ul#blog__list.blog__list
						li.blog__item
							.blog__title.title Title
							img(src="assets/img/slider/slide-1.jpg").blog__img
							.blog__article  В статье, будет рассматриваться процесс разработки простого блога, с сопутствующими пояснительными материалами, цель которых описать ... Для лучшего усвоения материала желательно иметь основные представления о языке программирования Javascrip
							textarea(class="blog__textfield")
							.blog__date 12.01.2018
							button.blog__edit.btn Изменить
							button.blog__del.btn Удалить
					form#blog__form.form
						input(type="text" id="blog__title")
						input( type="file"  accept="image/*" id="blog__img")
						textarea( name="text" id="blog__input")
						input(type="text" id="blog__date")
						button(type="submin") Добавить запись
					code.results__display
	script(src='/assets/js/past.js' defer)



