extends ../_template
block content
	.wrapper
		.content
			include ../common/_header
			section.single-article
				.container
					.breadcrumbs
							ul.breadcrumbs__list
								li.breadcrumbs__item
									a(href="#").breadcrumbs__link Главная
								li.breadcrumbs__item
									a(href="#").breadcrumbs__link Блог
								li.breadcrumbs__item
									a(href="#").breadcrumbs__link Что такое северное сияние?
					h1.title.single-article Что такое северное сияние?
					.single-article__p Это действительно сверкающее многоцветное сияние на небе. Типичное северное сияние выглядит как сияющая занавеска, переливающаяся сине - зелеными огнями с вкраплениями розового и красного.
					.single-article__p Эти цветные лен ты имеют ширину до 160 километров, а длину до 1600 километров. Танцующее в темном небе, как языки пламени, северное сияние — завораживающее и чарующее зрелище. Северное сияние происходит на Земле. Но вызвано оно процессами, происходящими на Солнце. Вот как это получается.
					h2.subtitle Как возникает северное сияние?
					.single-article__p Солнце — это раскаленный газовый шар, состоящий из атомов водорода и гелия. В ядре этих атомов находятся частицы, которые называются протонами. Вокруг протонов вращаются другие частицы. Они называются электронами. Протоны несут единичный положительный заряд, электроны — отрицательный. Облако сверх горячего газа, окутывающее Солнце (солнечная корона), постоянно выбрасывает в пространство во всех направлениях частицы и осколки атомов. Эти кусочки летят в космосе со скоростью 960 километров в секунду. Такие потоки называются солнечным ветром. Иногда корона буквально взрывается вихрем частиц, добавляя новые раскаленные порции к солнечному ветру.
					.single-article__p Когда солнечный ветер достигает Земли, его частицы попадают в ее магнитное поле. Силовые линии этого магнитного поля проходят в космическом пространстве, а сходятся у Северного и Южного полюсов Земли. Короче, Земля — это гигантский магнит. Магнетизм Земли обусловлен, как полагают, электрическими токами, индуцированными вращением железного ядра Земли. Чтобы посмотреть, как действует магнит, положите на него лист картона и насыпьте сверху железные опилки или мелкие гвоздики. Опилки или гвозди расположатся по кривым линиям, совпадающим с силовыми линиями магнитного поля.
					.single-article__p Магнитное притяжение Земли как бы засасывает пролетающие мимо нее заряженные частицы. Эти притянутые частицы движутся в виде длинных «лучей» вдоль силовых линий магнитного поля, которые уходят под землю в области магнитных полюсов. Эти полюса находятся вблизи Северного и Южного полюсов Земли, хотя и не совпадают с ними. Летящие вдоль силовых невидимых линий частицы «бесцеремонно затаскиваются» в атмосферу вблизи полюсов. И тут - то все начинается.
					h2.subtitle Интересный факт
					.single-article__p Атмосфера нашей матери Земли состоит в основном из азота и кислорода. Когда электроны и протоны, выброшенные с Солнца, вторгаются в атмосферу, они неизбежно сталкиваются с молекулами этих газов. При столкновении некоторые из атомов теряют часть своих электронов, другие — «возбуждаются», получая дополнительную энергию. Когда атом «успокаивается» после столь бурной атаки, то есть возвращается в нормальное энергетическое состояние, он испускает световой фотон. Молекулы азота при столкновении обычно теряют электроны. При этом излучается синий и фиолетовый свет. Если же молекула азота возбуждается без потери электрона, то происходит испускание лучей красной части спектра. Когда солнечный ветер сталкивается с молекулами кислорода, потери электронов никогда не происходит. Молекула возбуждается, а затем испускает кванты зеленого и красного света.

		include ../common/_footer