extends ../_template
block content
	.wrapper
		.content
			include ../common/_header
			section.upload
				.container
					form.form#upload(action='/upload' method="POST" enctype="multipart/form-data")
						h1.form__title.title Загрузите картинку на сервер
						label.form__label(for="file-desc") Введите описание картинки:
						input(name="name" type="text" placeholder="Описание картинки").form__input#file-desc
						label.form__label(for="file-select") Выбрать файл картинка jpg/png:
						input(name="photo" type="file" required accept="image/*").form__input#file-select
						button(type="submit").form__btn-send.btn Отправить
						button(type="reset").form__btn-reset.btn Очистить
						.status
		include ../common/_footer